<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLogueado') %>
	
	  <% } else{ %>
	
		<%- include('./partials/header') %>
		
	  <%}%>
	<!-- /Header -->
	 
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %> </h2> 
			<a class= "publicadoUsuario" href="/users/perfil/<%=product.user.id%>">    Publicado por <%= product.user.nombreUsuario %> </a>
			<% if (locals.user!=undefined) {%>
				<p class="product-detail-description">
					<a href="/mercado/showFormUpdate">Editar</a>
				</p>
				
			  <%}%>
		
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.imagen %>" alt="foto de <%= product.nombre %>">
					
					<p class="product-detail-description">
						<%= product.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/users/sophia.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/perfil/1">sophia: </a> </strong>
								 Este producto es de muy buena calidad. La pagina es muy amigable</p>
							</div>
						</article>
						<article>
							<img src="/images/users/victoria.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/perfil/2">Victora: </a> </strong>
									No recomiendo este producto, se rompio a la semana</p>
							</div>
						</article>
						<article>
							<img src="/images/users/ana.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/perfil/3">Ana: </a> </strong>
									Recomendable producto y con envio rapido
									</p>
							</div>
						</article>
						<article>
							<img src="/images/users/belen.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/perfil/4"> Belen </a> </strong>
									No llego como esperaba, es mas chico. Estoy desepcionada</p>
							</div>
						</article>
						<article>
							<img src="/images/users/catalina.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/perfil/5">Catalina </a> </strong>
									Excelente. Mi vida cambio con este producto y esta pagina web</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
		<%- include('./partials/footer') %>	
	<!-- /footer -->

</body>	
</html>